*{
    margin: 10px;
    padding: 10px;
}

body{
    background-color: blueviolet;
}

#countdown{
margin: auto;
margin-top: 10px;
align-items: center;
justify-content: center;
font-size: 60px;
font: bold;
text-align: center;
}
